<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum voluptatem
    sit, molestias harum iure nostrum fuga soluta necessitatibus cumque!
    Dignissimos repellendus soluta incidunt.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__tittle quote__author">John Smith</h3>
        <p class="quote__company">Papers.com</p>
      </div>
    </div>
  </footer>
</blockquote>
